<p class="text-center text-muted mt-5">© Copyright 2019 Bootcamp22</p>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/javascripts/main.js"></script>
