<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Hey, it's Cristina</h1>
    <p class="lead my-3">
      Welcome to my blog where I talk about all things DevRel, technology, my travels and findings. Glad to have you here.
    </p>
    <p class="lead mb-0">
      <a href="#" class="text-white font-weight-bold">Continue reading...</a>
    </p>
  </div>
</div>
