<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header><% include ./partials/header %></header>

    <main>
      <div><% include ./partials/greeting %></div>

      <div>
        <h1>Sign up here:</h1>
        <form action="/addSubscriber" name="addSubscriber" method="POST">
          <div>
            <input id="inputEmail" type="text" placeholder="Enter your email" name="email">
          </div>
          <div>
            <input id="inputFirstName" type="text" placeholder="Enter your first name" name="first_name">
          </div>
          <div>
            <input id="inputLastName" type="text" placeholder="Enter your last name" name="last_name">
          </div>
          <div>
            <button id="btnSubmit" type="submit">Subscribe!</button>
          </div>
        </form>
      </div>
    </main>
    <!-- /.container -->

    <footer><% include ./partials/footer %></footer>
  </body>
</html>
