<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header><% include ./partials/header %></header>

    <main>
      <div><% include ./partials/greeting %></div>

      <h2>Edit Subscriber:</h2>
        <form action="/editSubscriber" name="editSubscriber" method="POST">
          <div>
            <input id="inputEmail" type="text" placeholder="Enter your email" name="email" value="<%= email %>">
          </div>
          <div>
            <input id="inputFirstName" type="text" placeholder="Enter your first name" name="first_name" value="<%= first_name %>">
          </div>
          <div>
            <input id="inputLastName" type="text" placeholder="Enter your last name" name="last_name" value="<%= last_name %>">
          </div>
          <div>
            <input type="hidden" name="id" value="<%= id %>">
            <button id="btnSubmit" class="mt-2 btn btn-sm btn-outline-secondary" type="submit">Submit Edition</button>
          </div>
        </form>
      </div>
    </main>
    <!-- /.container -->

    <footer><% include ./partials/footer %></footer>
  </body>
</html>
