<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header><% include ./partials/header %></header>

    <main><div><% include ./partials/greeting %></div></main>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Technology</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Featured post</a>
            </h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">
              This is a wider card with supporting text below as a natural
              lead-in to additional content.
            </p>
            <a href="#">Continue reading</a>
          </div>
          <svg
            class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block"
            width="500"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect fill="#55595c" width="100%" height="100%"></rect>
            <text fill="#eceeef" dy=".3em" x="50%" y="50%"></text>
          </svg>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0"><a class="text-dark" href="#">Post title</a></h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="card-text mb-auto">
              This is a wider card with supporting text below as a natural
              lead-in to additional content.
            </p>
            <a href="#">Continue reading</a>
          </div>
          <svg
            class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block"
            width="500"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <rect fill="#55595c" width="100%" height="100%"></rect>
            <text fill="#eceeef" dy=".3em" x="50%" y="50%"></text>
          </svg>
        </div>
      </div>
    </div>

    <main role="main">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            The Musings of a DataStax Advocate...
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">
              January 1, 2014 by <a href="#">Mark</a>
            </p>

            <p>
              This blog post shows a few different types of content that’s
              supported and styled with Bootstrap. Basic typography, images, and
              code are all supported.
            </p>
            <hr />
            <p>
              Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
            </p>
            <blockquote>
              <p>
                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
              </p>
            </blockquote>
            <p>
              Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
            </p>
          </div>
          <!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">
              December 23, 2013 by <a href="#">Jacob</a>
            </p>

            <p>
              Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
            </p>
            <blockquote>
              <p>
                Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.
              </p>
            </blockquote>
            <p>
              Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
            </p>
          </div>
          <!-- /.blog-post -->
        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">
              Hey, it's Cristina. I'm a Developer Advocate for DataStax and community tech organizer in Charlotte, NC. 
            </p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">February 2019</a></li>
              <li><a href="#">January 2019</a></li>
              <li><a href="#">December 2018</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li>
                <a href="https://www.cristinaveale.com">Personal Website</a>
              </li>
              <li><a href="https://www.github.com/cristinaveale">GitHub</a></li>
              <li>
                <a href="https://www.twitter.com/cristina_veale">Twitter</a>
              </li>
              <li>
                <a href="https://academy.datastax.com/developer-blog"
                  >DataStax Dev Blog</a
                >
              </li>
            </ol>
          </div>
        </aside>
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    </main>
    <!-- /.container -->

    <footer><% include ./partials/footer %></footer>
  </body>
</html>
