<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header><% include ./partials/header %></header>

    <main>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <div class="well"><h3>Subscriber Detail:</h3></div>
          <ul>
            <li><%= first_name %></li>
            <li><%= last_name %></li>
            <li><%= email %></li>
            <li><%= id %></li>
          </ul>
        </div>
      </div>
    </main>

    <footer><% include ./partials/footer %></footer>
  </body>
</html>

