<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header><% include ./partials/header %></header>

    <main>
      <div><% include ./partials/greeting %></div>

      <div><h3>My Subscribers:</h3></div>
      <ul>
        <!--Looping through subscribers-->
        <% subscribers.forEach(function(subscriber) { %>
        <li>
          <a href="/subscriber/<%= subscriber.id %>">
            <%= subscriber.first_name %> <%= subscriber.last_name %>
          </a>
        </li>
        <% }); %>
      </ul>
    </main>

    <footer><% include ./partials/footer %></footer>
  </body>
</html>
