<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header><% include ./partials/header %></header>

    <main>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <div class="well"><h3>My Subscribers:</h3></div>
          <ul>
            <!--Looping through subscribers-->
              <% subscribers.forEach(function(subscriber) { %>
                  <li>
                    <a href="/subscriber/<%= subscriber.id %>">
                      <%= subscriber.first_name %> <%= subscriber.last_name %>
                    </a>
                  </li>
              <% }); %>
          </ul>
        </div>
      </div>
    </main>

    <footer><% include ./partials/footer %></footer>
  </body>
</html>
